<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <title>Typography</title>
  <meta Typography="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="../css/main.production.min.css">
</head>

<body>
  <h1>Typography</h1>
  <div>
    <h3>Heading</h3>
    <h1 class="rex-typography-h1 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">h1. The quick
      brown
      fox jumps over the lazy dog</h1>
    <h2 class="rex-typography-h2 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">h2. The quick
      brown
      fox jumps over the lazy dog</h2>
    <h3 class="rex-typography-h3 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">h3. The quick
      brown
      fox jumps over the lazy dog</h3>
    <h4 class="rex-typography-h4 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">h4. The quick
      brown
      fox jumps over the lazy dog</h4>
    <h5 class="rex-typography-h5 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">h5. The quick
      brown
      fox jumps over the lazy dog</h5>
    <h6 class="rex-typography-h6 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">h6. The quick
      brown
      fox jumps over the lazy dog</h6>
    <h1 class="rex-typography-h1 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">h1.
      新しい時代のこころを映すタイプフェイスデザイン</h1>
    <h2 class="rex-typography-h2 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">h2.
      新しい時代のこころを映すタイプフェイスデザイン</h2>
    <h3 class="rex-typography-h3 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">h3.
      新しい時代のこころを映すタイプフェイスデザイン</h3>
    <h4 class="rex-typography-h4 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">h4.
      新しい時代のこころを映すタイプフェイスデザイン</h4>
    <h5 class="rex-typography-h5 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">h5.
      新しい時代のこころを映すタイプフェイスデザイン</h5>
    <h6 class="rex-typography-h6 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">h6.
      新しい時代のこころを映すタイプフェイスデザイン</h6>
    <h3>Display</h3>
    <h1 class="rex-typography-display1 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">display1.
      The
      quick brown fox jumps over the lazy dog</h1>
    <h2 class="rex-typography-display2 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">display2.
      The
      quick brown fox jumps over the lazy dog</h2>
    <h3 class="rex-typography-display3 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">display3.
      The
      quick brown fox jumps over the lazy dog</h3>
    <h4 class="rex-typography-display4 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">display4.
      The
      quick brown fox jumps over the lazy dog</h4>
    <h5 class="rex-typography-display5 rex-typography-weight-regular rex-typography-margin-bottom" lang="en">display5.
      The
      quick brown fox jumps over the lazy dog</h5>
    <h1 class="rex-typography-display1 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">display1.
      新しい時代のこころを映すタイプフェイスデザイン</h1>
    <h2 class="rex-typography-display2 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">display2.
      新しい時代のこころを映すタイプフェイスデザイン</h2>
    <h3 class="rex-typography-display3 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">display3.
      新しい時代のこころを映すタイプフェイスデザイン</h3>
    <h4 class="rex-typography-display4 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">display4.
      新しい時代のこころを映すタイプフェイスデザイン</h4>
    <h5 class="rex-typography-display5 rex-typography-weight-regular rex-typography-margin-bottom" lang="ja">display5.
      新しい時代のこころを映すタイプフェイスデザイン</h5>
    <h3>Body Text</h3>
    <p class="rex-typography-lead-body-text rex-typography-weight-regular rex-typography-margin-bottom">
      &#x27;LeadBodyText&#x27; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde
      suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat
      deleniti? Eum quasi quidem quibusdam.</p>
    <p class="rex-typography-body-text1 rex-typography-weight-regular rex-typography-margin-bottom">
      &#x27;BodyText1&#x27;
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum
      inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem
      quibusdam.</p>
    <p class="rex-typography-body-text2 rex-typography-weight-regular rex-typography-margin-bottom">
      &#x27;BodyText2&#x27;
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum
      inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem
      quibusdam.</p>
    <p class="rex-typography-body-caption rex-typography-weight-regular rex-typography-margin-bottom">
      &#x27;Caption&#x27;
      Text</p>
    <p class="rex-typography-body-overline rex-typography-weight-regular rex-typography-margin-bottom">
      &#x27;Overline&#x27;
      Text</p>
    <p class="rex-typography-lead-body-text rex-typography-weight-regular rex-typography-margin-bottom">「LeadBodyText」
      吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
    </p>
    <p class="rex-typography-body-text1 rex-typography-weight-regular rex-typography-margin-bottom">「BodyText1」
      吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
    </p>
    <p class="rex-typography-body-text2 rex-typography-weight-regular rex-typography-margin-bottom">「BodyText2」
      吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
    </p>
    <p class="rex-typography-body-caption rex-typography-weight-regular rex-typography-margin-bottom">「Caption」 テキスト</p>
    <p class="rex-typography-body-overline rex-typography-weight-regular rex-typography-margin-bottom">「Overline」 テキスト
    </p>

    <script src="../index.js"></script>
</body>

</html>